@import "node_modules/bootstrap/scss/bootstrap";

p {
  margin: 0;
}

.app__body {
  padding: 0;
  max-width: 390px;
  border: solid 1px white;
  border-radius: 5px;
  text-align: center;
}

.city {
  padding: 25px;
}

.city__name {
  font-size: 34px;
}

.city__current-temperature {
  font-size: 90px;
  line-height: 1.1;
}

.city__temperatures {
  display: flex;
  justify-content: center;
}

.city__max-t {
  margin-right: 15px;
}

.forecast__mode {
  display: flex;
  justify-content: space-around;
}

.forecast__list {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
}

.forecast__card {
  min-width: 60px;
  cursor: pointer;
}

#now {
  background-color: #484848;
}

.forecast__card:not(:last-child) {
  margin-right: 14px;
}

.forecast__card-body {
  padding: 5px;
}

.forecast__card-title {
  font-size: 14px;
  font-weight: bold;
}

.forecast__card-text {
  font-weight: bold;
}

.weather__details {
  text-align: left;
}

